LongDucProjectTest/Connected Services/ServiceReference1/ATSCADAService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8011/ATSCADAService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8011/ATSCADAService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ATSCADA.WebService" />
  <xs:element name="Read">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="names" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ATSCADA.WebService" minOccurs="0" name="ReadResult" nillable="true" type="q2:ArrayOfResultPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Write">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ATSCADA.WebService" minOccurs="0" name="writeParams" nillable="true" type="q3:ArrayOfWriteParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ATSCADA.WebService" minOccurs="0" name="WriteResult" nillable="true" type="q4:ArrayOfResultPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>